.main-footer {
    color: white;
    background-color:#4CAF50;
    border-radius: 5px;
    padding-top: 6px;
    position: static;
    width: 100%;
    bottom: 0;
    margin-top: 30px;
  }

.col-sm {
  padding-bottom: 1em;
  }