#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: rgb(251, 247, 243);
  font-family: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

img {
  border-radius: 20px;
  width: 900px;
  padding: 20px;
}

h1 {
  font-size: 40px;
}

a {
  color: #f95a39;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 500px 500px;
  grid-gap: 1px;
  background-color: #f95a39;
  padding: 0px;
}

.grid-container > div {
  background-color: rgb(251, 247, 243);
  text-align: center;
  color: #213547;
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
}